@page "/dashboard"
@inject UserService UserService
@inject NavigationManager NavManager
@if (_user == null && UserService.CanRequestDetails == false)
{
	<h1 class="text-center text-danger">You are unauthorized to use this page because you are not logged in!</h1>
	<h3 class="text-center">Click <NavLink href="/">here</NavLink> to go to the login page.</h3>
}
else if (_user == null && UserService.CanRequestDetails)
{
	<h1 class="text-center">Please wait, retrieving user information...</h1>
}
else
{
	<h1 class="text-center">Dashboard of @(UserService.User.FirstName) @(UserService.User.LastName) with the role: "@(@UserService.Role)"</h1>
	<div style="height: 200px" class="d-flex justify-content-center align-items-center">
		<PersonDisplay />
	</div>
}

@code {
	DisplayUser _user = default!;

	protected override async Task OnInitializedAsync()
	{	
		_user ??= UserService.User;

		if (_user == null && UserService.CanRequestDetails)
		{
			bool success = await UserService.RequestUserDetails();

			if (success)
			{
				_user = UserService.User;
			}
		}
	}
}
