@inject LoginService LoginService

<EditForm Model="_userModel" OnValidSubmit="SubmitCredentials" class="d-flex justify-content-center">
	<div class="d-flex flex-column align-items-start">
		<div class="form-field">
			<label>Username</label>
			<InputText @bind-Value="_userModel.Username" />
		</div>
		<div class="form-field">
			<label>Password</label>
			<InputText type="password" @bind-Value="_userModel.Password" />
		</div>
		<div class="remember-me">
			<label> Remember Me</label>
			<InputCheckbox @bind-Value="_rememberUser" />
		</div>
		<div class="loader @(_loaderStyle) align-self-center" />
		<button type="submit" class="btn btn-primary align-self-center @(_loginButtonStyle)">Login</button>
		<DataAnnotationsValidator />
		<ValidationSummary />
	</div>
</EditForm>
<h3 class="@(_confirmMessageStyle) text-align-center">@LoginService.LoginMessage</h3>

@code {
	[Parameter]
	public EventCallback<IUser> OnSuccessfulLogin { get; set; }

	UserLoginModel _userModel = default!;

	const string displayNone = "set-display-none";

	bool _rememberUser = false;

	// Variables for showing/hiding certain HTML elements
	string _loginButtonStyle = string.Empty;
	string _confirmMessageStyle = displayNone;
	string _loaderStyle = displayNone;

	protected override async Task OnInitializedAsync() 
	{
		_userModel ??= new();
		await LoginService.TryGetAuthToken();
	}

	async Task SubmitCredentials() 
	{
		_loaderStyle = string.Empty;

		IUser? user = await LoginService.LoginAsync(_userModel, _rememberUser);
		await OnSuccessfulLogin.InvokeAsync(user);

		if (user != null)
		{
			_loginButtonStyle = displayNone;
		}

		_loaderStyle = displayNone;
		_confirmMessageStyle = string.Empty;
	}
}
